{{#options.options}}
<div>
	<input type="radio" name="{{name}}" value="{{value}}" {{#selected}}checked="checked" {{/selected}}{{#html}}{{key}}="{{value}}" {{/html}}/>
	<label for="{{name}}">{{label}}</label>
</div>
{{/options.options}}
