{{#fieldset}}
<tbody>
	{{#fields}}
	{{#requires_label}}
	<tr>
		<td class="field_readonly">{{label}}</td>
		<td>{{render_readonly}}</td>
	</tr>
	{{/requires_label}}
	{{/fields}}
</tbody>
{{/fieldset}}
