<select id="{{name}}" name="{{name}}"{{#html}} {{key}}="{{value}}"{{/html}}>
	{{#options.options}}
	<option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{label}}</option>
	{{/options.options}}
</select>
